body {
    margin:auto;
    border:0.2rem solid #a7db7c;
    background:#e4f4d9;
    border-top:none;
    border-bottom: none;
}
header {
    margin-bottom:0.2em;
    text-align:center;
    background:#a7db7c;
    overflow:hidden;
}
header img {
    border-radius:0 0 0.5em 0.5em;
}
footer {
    margin: 0 0.2em;
    padding:1rem 0;
    text-align:center;
    border-top:0.1rem solid #a7db7c;
}
footer a {
    color:green;
    text-decoration:none;
}

main {
    display:flex;
    align-items:stretch;
    padding: 0 0.2em 1em 0.2em;
}
#leftColumn {
    margin-right:0.2rem;
}

#rightColumn div, #inventory { /* All the blocks, except the board */
    margin:0.1em 0;
    padding:0.3em;
    border-radius:0.4em;
    overflow:auto;
    box-sizing: border-box;
    box-shadow: 4px 4px 8px grey;
}

#inventory, #rightColumn #buttons {
    height:auto;
    padding:0;
    border:1px solid green;
}
#inventory {
    background:#eafaf1;
}

#rightColumn {
    display:flex;
    flex:1; /* To fill the width */
    flex-direction: column;
    justify-content: center;
}
#competences, #players, #chat {
    height:16%;    
    background:rgba(11, 83, 69, 0.8);    
    color:white;
}
#rightColumn #buttons input[type="button"] {
    padding:0 0.8em;
    font-size:1.2em;
    font-variant: small-caps;
    font-weight:bold;
    background:green;
    color:white;
}

#chat {
    flex-basis:60%;
    font-size:0.9em;
}
#chat p {
    margin:0.5em 0;
}
#chat .date {
    padding:0 0.3em;
    background:darkgreen;
    color:white;
    border-radius:0.5em;
    font-size:0.9em;
}
#chat .green {
    color: #72ff64;
}

/*
 * The game board (grid)
 */
table {
    border-collapse: collapse;
}
#board {
    margin-top: 0.2em;
    border:1px solid #4fb700;
    background: #d6f9c1;
    box-shadow: 4px 4px 8px grey;
}
#board td {
    height:1.5rem;
    width: 1.5rem;
    padding:0;
    border:1px dotted #4fb700;
    text-align:center;
    cursor:pointer;
}
#board td:hover {
    background:lightgreen;
}
#board td::selection {
    background:none;
}

.letter {
    height:1.4em;
    width: 1.4em;
    padding:0;
    font-weight:bold;
    border:1px solid blue;
    border-radius:0.2em;
    background:lightblue;
    font-size:1.2rem;
    cursor:pointer;
}
#board .letter {
    height:100%;
    width: 100%;
}

.centralCell,
#board tr:first-child,
#board tr:last-child,
#board tr td:first-child,
#board tr td:last-child {
    background:#a7db7c; /* The first & last cols/rows are in a different color */
}


/*
 * Responsive design
 */
@media only screen and (min-width:840px) {
    
    body {
        max-width:838px;  /* To fit with the width of the original Popotamo's banner */
    }
}
